[flake8]
    ignore = D203, E402, F403, F405, W503, W605
    exclude = .git,env,__pycache__,docs/source/conf.py,old,build,dist,env,node_modules,thumbing-serverless-cdk
    max-complexity = 10
    max-line-length = 119