flask
flask-cors
gunicorn==20.1.0

psycopg[binary]
psycopg[pool]
psycopg-pool

opentelemetry-api==1.19.0 
opentelemetry-sdk==1.19.0 
opentelemetry-exporter-otlp-proto-http==1.19.0 
opentelemetry-instrumentation-flask==0.40b0
opentelemetry-instrumentation-requests==0.40b0

aws-xray-sdk
watchtower
blinker
rollbar
Flask-AWSCognito
boto3

# Dev
black==23.1.0